
body{
    background:#379683;
}
#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main main'
    'left main main'
} 

#item1{
grid-area: header;
height: 140px;
width: 800px;
padding: 20px;
margin: 20px;
}


#item2{
grid-area: left;
height: 140px;
width: 200px;
padding: 20px;
margin: 20px;
}

#item3{
grid-area: main;
height: 300px;
width:320px;
padding: 20px;
margin: 20px;

}
#item4{
  position: relative;
  content: url(photos/wessley.jfif);
  left:80px;
  height: 240px;
  width: 200px;
}
div div{
  border: 2px solid rgb(27, 26, 25);
  background: #edf5e1;
  font-size: 20px;
}
@media screen and (max-width:700px) {
  body {
    background-color: darkmagenta;
    font-size: 14px;
  
    }
}
#item5{
  position: relative; 
  height: 180px;
  width: 200px;
  padding: 20px;
  margin: 20px;
  top: -150px;

}
  
@keyframes animazia {
  from { background-color: lightgreen;}
  to {background-color: lightpink }
}
div div{
  
  animation-name: animazia;
  animation-duration: 4s;
  /*animation-iteration-count: infinite;*/
}

@keyframes wesslyspin {
  0%{
    transform: rotate(0deg);
}
25%{
   transform: rotate(180deg);
}
50%{
   transform: rotate(-180deg);
}
100%{
   transform: rotate(0deg);
}
}
div div div{
  animation-name: wesslyspin ;
  animation-duration: 4s;
}




